.News{
    background-color: white;
    width: 40vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2%;
}

.head{
    height: auto;
}

.content{
    height: 70%;
}

.bottom{
    height: 10%;
    flex-direction: row;
    display: flex;
}

.headBorder{
    opacity: 50%;
}
.buttons{
    margin-top: 5%;
    margin-left: 90%;
    height: 80%;
    width: 45%;
}

.pageback{
    font-weight: bold;
    font-size: 200%;
    width: 50%;
}

.pagefront{
    font-weight: bold;
    font-size: 200%;
    width: 50%;
}

