.news-elem{
    flex-direction: row;
    display: flex;
    margin-top: 6%;
}

.news-elem__content{
    flex-direction: column;
    display: flex;
}

.news-elem__footer{
    flex-direction: row;
    display: flex;
}

.news-elem__image{
    width: 35%;
    aspect-ratio: 16 / 10;
    height: 100%;
    border-radius: 8%;
}

.news-elem__content{
    margin-left: 5%;
    width: 65%;
    height: 100%;
}

.news-elem__date{
    opacity: 50%;
    font-weight: lighter;
    height: 10%;
}

.news-elem__title{
    align-items: center;
    justify-content: center;
    height: 90%;
}

.news-elem__main{
    justify-content: center;
    height: 80%;
}

.news-elem__footer{
    height: 20%;
}

.news-elem__rubrics{
    width: 70%;
}


.news-elem__rubrics {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 5%;
}

.news-elem__rub {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #666;
}


.news-elem__stats{
    width: 30%;
    flex-direction: row;
    display: flex;
}

.news-elem__like-btn{
    width: 25%;
}

.news-elem__view-icon{
    width: 25%;
}

.news-elem__like-count{
    margin-left: 5%;
    width: 25%;
}

.news-elem__view-count{
    width: 25%;
}