.news-elem{
    flex-direction: row;
    display: flex;
    margin-top: 5%;
}

.news-elem__content{
    flex-direction: column;
    display: flex;
}

.news-elem__footer{
    flex-direction: row;
    display: flex;
}

.news-elem__image{
    width: 25%;
    height: 100%;
}

.news-elem__content{
    margin-left: 5%;
    width: 65%;
    height: 100%;
}

.news-elem__date{
    opacity: 50%;
    font-weight: lighter;
    height: 10%;
}

.news-elem__title{
    height: 90%;
}

.news-elem__main{
    height: 90%;
}

.news-elem__footer{
    height: 10%;
}

.news-elem__rubrics{
    width: 50%;
}

.news-elem__stats{
    width: 50%;
    flex-direction: row;
    display: flex;
}

.news-elem__like-btn{
    width: 25%;
}

.news-elem__view-icon{
    width: 25%;
}

.news-elem__like-count{
    width: 25%;
}

.news-elem__view-count{
    width: 25%;
}