.News{
    background-color: white;
    width: 40vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2%;
}

.Head{
    height: auto;
}

.Content{
    height: 70%;
}

.Bottom{
    height: 10%;
    flex-direction: row;
    display: flex;
}

.headBorder{
    opacity: 50%;
}

.bfields{
    flex-direction: row;
    display: flex;
    margin-left: 80%;
    width: 30%;
}

.pbfield{
    font-weight: bold;
    font-size: 200%;
    width: 50%;
    padding: 15%;
}

.pffield{
    font-weight: bold;
    font-size: 200%;
    width: 50%;
    padding: 15%;
}


